table{
    display:flex;
    vertical-align: middle;
    justify-content: center;
    width:70%;
}
body{
    display:flex;
    vertical-align: middle;
    justify-content: center;
}

#accueil{
    border: 0px;
}
#accueil td{
    text-align: center;
}